
  #graphFlex {
    display:block;
    margin:auto;
    width:100%;
  }

  .plotWrapper{
    display:block;
    margin:auto;
    margin-bottom:10px;
    min-width:320px;
    width:45%;
  }

  .plotParent{
    display:flex;
    flex-wrap:wrap;   
    margin:auto;
    margin-top:10px;
  }

  .fivePixMarg{
    margin-top:10px;
  }

  .flexManager {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    max-width:1300px;
    margin:auto;
  }

  .flexChildBig {
    display:block;
    margin:auto;
    max-width:800px;
    min-width:320px;
    width:65%;
  }

  .imgWrapper {
    width:35%;
    min-width:330px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:auto;
  }

  .imgInside{
      display:block;
      margin:auto;
      max-width:450px;
      margin-bottom:25px;
      margin-top:25px;
      width:90%;
      border-radius:5px
  }
