  #imageContainer{
    display:flex;
    flex-wrap:wrap;   
    justify-content: center;
    width:95%;
    margin:auto;
  }

  #formula{
    border-radius:5px; 
    width:70%;
    margin-bottom: 5px;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    min-width:320px;
  }


  #twoPointer {
    width:30%;
    border-radius:5px;
    margin-bottom: 5px;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-height: 270px;
    min-width:320px;
  }

  #containerContainer {
    display:block;
    margin:auto;
  }   