  #imageContainer{
    display:flex;
    flex-wrap:wrap;   
    justify-content: center;
  }

  #formula{
    border-radius:5px; 
    max-width:500px;
    width:90%;
    margin-bottom: 5px;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }


  #twoPointer {
    max-width: 400px;
    width:90%;
    border-radius:5px;
    margin-bottom: 5px;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-height: 270px;
  }

  #containerContainer {
    max-width: 950px;
    display:block;
    margin:auto;
  }   