  #imageContainer{
    display:flex;
    flex-wrap:wrap;   
    justify-content: center;
  }

  #formula{
    /* display: block;
    margin:auto;
    width:'100%';*/
    border-radius:5px; 
    max-width:500px;
    width:90%;
    margin-bottom: 5px;;
  }


  #twoPointer {
    display:block;
    margin:auto;
    max-width: 400px;
    width:90%;
    border-radius:5px;
  }

  #containerContainer {
    max-width: 950px;
    display:block;
    margin:auto;
  }   